.header
  .header__wrapper
    .header__wrapper__top
      .header__wrapper__top__title
        = link_to "TownSNS", root_path, class: "home_button"
    .header__wrapper__tweet
      = link_to "ツイート", tweets_path, class: "tweet_button"